*{
    margin:0;
    padding:0;
}

body{
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

/*Style for font awesome icon
.target{
    cursor:pointer;
    color:gray;
    font-size:5rem;
}

.clicked{
    color:blue;
}
*/



/*SVG icon styles*/
.target{
    cursor:pointer;
    fill:gray;
}

.clicked{
    fill:blue;
}